jsmol
closure.errs.txt
test_files/*compressed.json*
*.pyc
.vscode
.DS_Store
old*
compress_decompress_test
*.tmp.sh
pcaviz-compressor-python/examples/1J8K_example*compress*
pcaviz-compressor-python/examples/1J8K_example*expand*
pcaviz-compressor-python/test*
dev-tools/utils/compiled*.js
post_compile_durrantlab
pcaviz-compressor-python/dist
TODO.md
